h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

h2{
    color: deeppink;
    margin: 2px;
}

body {
    background-image: url("../Media/ItaliaSpruzzo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 70px;
    margin-left: 25px;
    margin-top: 20px;
    margin-right: 100px;
}

tr{
    font-family: cursive;
    font-weight: bolder;
    font-size: x-large;
    border: orange;
}

td{
    font-style: italic;
    font-size: medium;
    font-weight: normal;
}