h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

h2{
    color: deeppink;
}

body {
    background-image: url("../Media/ItaliaSpruzzo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}